<div class="row">
    <div class="col-md-12">
        <h2>Preview Assessment</h2>
        <div>
            <h3 data-ng-bind-html="assessment.assessment_model.assessment_name"></h3>
        </div>
        <h4 data-ng-bind-html="assessment.title"></h4>
        <p><strong>Max Score</strong>: <span class="badge">{{assessment.score_max}}</span></p>
        <div data-ng-repeat="qanda in assessment.questions">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Question
                </div>
                <div class="panel-body">
                    <div id="question{{$index}}" data-ng-bind-html="qanda.question_text" data-compile="">
                    </div>
                    <hr/>
                    <p><strong>Score</strong>: <span class="badge">{{qanda.score}}</span></p>
                    <h5>Answer</h5>
                    <div data-ng-if="qanda.type === 'MULTIPLECHOICE'">
                        <div data-ng-repeat="ans in qanda.answers">
                            <div data-ng-class="(ans.correct) ? 'has-success' : 'has-error'">
                                <div class="radio disabled">
                                    <label>
                                        <input type="radio" name="answers{{$parent.$index}}" id="ans{{$index}}" data-ng-checked="ans.correct" value="{{ans.value}}" disabled>
                                        <span id="ans{{$parent.$index + '_' + $index}}" data-ng-bind-html="ans.formatted" data-compile=""></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="qanda.type === 'DECIMAL'">
                        <div class="has-success"><strong>Correct Answer</strong>: {{qanda.correctAnswer}}</div>
                        <p><strong>Min</strong>:{{qanda.answer_min}} <strong>Max</strong>: {{qanda.answer_max}} </p>
                    </div>
                    <div data-ng-if="qanda.type === 'INTEGER'">
                        <div class="has-success"><strong>Correct Answer</strong>: {{qanda.correctAnswer}}</div>
                    </div>
                    <div data-ng-if="qanda.type === 'REGEX'">
                        <p><strong>Regex</strong>: {{qanda.regex_accept}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>